*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	color: white;
	text-decoration:none
}
.mainPage{
	width: 100%;
	height: 100%;
}
.header{
	width: 1000px;
    height: 78px;
    margin: 0 auto;
}
.logo{
	line-height: 90px;
	float: left;
}
.search_wrapper{
	width: 300px;
    height: 36px;
    float: left;
    margin-left: 80px;
    padding-top: 24px;
}
.search_input{
	
}
.topNav{
	width: 402px;
    margin-left: -100px;
    margin-top: -3px;
    float: left;
}   
.topNav ul{
	width: 402px;
    margin-left: -40px;
    margin-top: 18px;
    float: left;
}
.topNav li{
	float: left;
	list-style: none;
    line-height: 39px;
    padding-left: 50px;
    font-size: 15px;
    color: #777;
}
.clearfix{
	width: 150px;
    height: 50px;
    float: left;
    margin-top: 20px;
}
.left_btn {
    float: left;
    display: block;
    width: 48px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #169af3;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #169af3;
}
.navWrap{
	width: 100%;
	height: 50px;
    position: relative;
    z-index: 999;
    background-color: #2c323b;
}
.nav{
	width: 1000px;
    position: relative;
    z-index: 200;
    float: left;
    margin-left: -200px;
}
.homeNav{
	position: relative;
    z-index: 2;
    background-color: #2c323b;
    float: left;
}
.homeNav li{
	color: white;
    list-style: none;
    float: left;
    font-size: 17px;
    line-height: 50px;
    padding: 0 30px;
}
.homeNavli{
	width: 113px;
	position: relative;
}
.homeNavli div{
	display: none;
	position: absolute;
}
.homeNavli img{
	float: right;
	padding-top:18px;
}
.homeNavli div a{
	display: inline-block;
	width: 113px;
}
.secondMenu{
	float: left;
    margin-left: 68px;
}
.secondMenu li{
	float: left;
    color: white;
    font-size: 15px;
    list-style: none;
    margin-left: 30px;
    line-height: 50px;
    vertical-align: middle;
}
.wrp{
	width: 1000px;
	height: 1300px;
	/*border: solid 1px red;*/
	margin: 0 auto;
}
.mbx{
	color: #ada8a8;
    margin: 15px 0;
}
.mbx a{
	color: #3d3d3d;
	text-decoration: none;
	font-size: 14px;
}
.mbx span{
	font-size: 14px;
}
.top{
	height: 142px;
    border: 1px solid #adadad;
    width: 780px;
    float: left;
    margin-right: 10px;
    display: inline;
}
.intor{
    height: 132px;
    width: 571px;
    padding: 10px 0 0 30px;
    overflow: hidden;
    color: #464646;
}
.clear_fix{
	float: left;
	color: #393939;
    font-size: 16px;
}
.clear_fix strong{
    width: 240px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.clear_fix p{
	width: 551.5px;
	font: 13px/1.5 \5FAE\8F6F\96C5\9ED1,simsun,sans-serif;
    height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 17px;
}
.clear_fix em{
	color: #373737;
    float: right;
    padding-right: 32px;
    margin-top: 7px;
    font-style: normal;
    text-decoration: underline;
    cursor: pointer;
}
.other_singer{
	float: right;
    width: 205px;
    border-bottom: 5px solid #b8b8b8;
    height: 138px;
    /*border: 1px solid red; */
}
.other_singer h5{
	background: #b8b8b8;
    padding: 0 0 0 10px;
    line-height: 26px;
    height: 26px;
    font-size: 12px;
    color: #fff;
}
.clear_fix{
	list-style: none;
	float: left;
}
.f{
	padding: 0 15px 0 8px;
    display: inline;
    border-right: 1px solid #b8b8b8;
    width: 122px;
    margin-right: 19px;
    float: left;
    position: relative;
    margin: 5px 2px 5px 0;
    float: left;
}
.f strong{
	width: 70px;
    color: #212121;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    display: block;
    padding-left: 2px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.s{
    width: 77px;
    margin-right: 5px;
    float: right;
    position: relative;
    margin: 5px 2px 5px 0;
}
.s strong{
	width: 70px;
    color: #212121;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    display: block;
    padding-left: 2px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.clear{
	clear: both;
    height:0;
    width: 100%;
    font-size: 0;
    line-height: 0;
    background-color: #000000
}
.tabclear_fix{
	overflow: hidden;
    padding: 30px 0 4px 0;
    border-bottom: 2px solid #c2c2c2;
    position: relative;
}
.song{
	float: left;
    width: 60px;
    margin-right: 30px;
    color: #5e5e5e;
    text-align: center;
    cursor: pointer;
    height: 19px;
    position: relative;
    list-style: none;
    font-size: 14px;
}
.content{
	width: 1000px;
	height: 1100px;
}
.dq{
	font-weight: normal;
    padding-bottom: 5px;
    position: relative;
   /* position: absolute;*/
    top: 30px;
        border-bottom: 1px solid #d4d4d4;
}
.dq input{
	width: 13px;
    height: 15px;
    margin: 0 10px 0 0;
    position: relative;
    top: 3px;
}	
.dq a{
	display: block;
    width: 91px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #169af3;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: #7cdaff;
    float: right;
    margin-top: -10px;
}
.song_container{
	width: 1000px;
	height: 800px;
	/*background-color: khaki;*/
	padding-top: 35px;
}
.hhh{
	list-style: none;
	float: none;
    width: auto;
    height: 25px;
    margin: 0 0 3px 0;
    line-height: 25px;
    vertical-align: bottom;
}
.ej{
	width: 19px;
    height: 19px;
    margin-top: 2px;
    float: right;
    cursor: pointer;
    line-height: 0;
    font-size: 0;
    margin-left: 10px;
}
.fx{
	width: 19px;
    height: 19px;
    margin-top: 2px;
    
    display: inline;
    float: right;
    cursor: pointer;
    line-height: 0;
    font-size: 0;
}
.song_container li{
	float: none;
    width: auto;
    height: 25px;
    margin: 0 0 3px 0;
    line-height: 25px;
    vertical-align: bottom;
	font-style: normal;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}
.download{
	height: 120px;
    /*line-height: 120px;*/
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-top: 180px;
}
.llll{
	display: inline-block;
    width: 108px;
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
    border-radius: 3px;
    vertical-align: middle;
    background-color: #169af3;
    color: #fff;
    font-size: 16px;
}
.footerWrapper{
	width: 100%;
	height: 319px;
	background: #2c323b;
	margin: 0 auto;
}
.footer{
	width: 100%;
	height: 319px;
	text-align: center;
}
.links{
	width: 1100px;
	height: 49px;
	position: relative;
    zoom: 1;
    border-bottom: 1px solid #3d424a;
    padding: 15px 0;
    font-size: 12px;
    color: #b1b3b9;
    margin: auto;
}
.links a{
	color: #b1b3b9;
    padding: 10px;
}
.copyright{
	margin-top: 40px;
}
.copyright p{
	line-height: 30px;
	font-size: 14px;
    text-align: center;
    color: #b1b3b9;
}