*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	color: white;
	text-decoration:none
}
.mainPage{
	width: 100%;
	height: 100%;
}
.header{
	width: 1000px;
    height: 78px;
    margin: 0 auto;
}
.logo{
	line-height: 90px;
	float: left;
}
.search_wrapper{
	width: 300px;
    height: 36px;
    float: left;
    margin-left: 80px;
    padding-top: 24px;
}
.search_input{
	
}
.topNav{
	width: 402px;
    margin-left: -100px;
    margin-top: -3px;
    float: left;
}   
.topNav ul{
	width: 402px;
    margin-left: -40px;
    margin-top: 18px;
    float: left;
}
.topNav li{
	float: left;
	list-style: none;
    line-height: 39px;
    padding-left: 50px;
    font-size: 15px;
    color: #777;
}
.clearfix{
	width: 150px;
    height: 50px;
    float: left;
    margin-top: 20px;
}
.left_btn {
    float: left;
    display: block;
    width: 48px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #169af3;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #169af3;
}
.navWrap{
	width: 100%;
	height: 50px;
    position: relative;
    z-index: 999;
    background-color: #2c323b;
}
.nav{
	width: 1000px;
    position: relative;
    z-index: 200;
    float: left;
    margin-left: -200px;
}
.homeNav{
	position: relative;
    z-index: 2;
    background-color: #2c323b;
    float: left;
}
.homeNav li{
	color: white;
    list-style: none;
    float: left;
    font-size: 17px;
    line-height: 50px;
    padding: 0 30px;
}
.homeNavli{
	width: 113px;
	position: relative;
}
.homeNavli div{
	display: none;
	position: absolute;
}
.homeNavli img{
	float: right;
	padding-top:18px;
}
.homeNavli div a{
	display: inline-block;
	width: 113px;
}
.secondMenu{
	float: left;
    margin-left: 68px;
}
.secondMenu li{
	float: left;
    color: white;
    font-size: 15px;
    list-style: none;
    margin-left: 30px;
    line-height: 50px;
    vertical-align: middle;
}
.wap{
	width: 1000px;
	height: 1390px;
	margin: 0 auto;
	margin-top: 20px;
	/*border: solid red 1px;*/
}
.mbx{
	color: #ada8a8;
    margin: 15px 0;
}
.mbx a{
	color: #3d3d3d;
	text-decoration: none;
	font-size: 14px;
}
.mbx span{
	font-size: 14px;
}
.I{
	float: left;
    width: 180px;
    position: relative;
    z-index: 1000;
}
.pic{
    width: 170px;
    height: 169px;
    margin-left: -5px;
}
.ggg{
	/*float: left;*/
    display: block;
    width: 91px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #169af3;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #169af3;
}
.detail{
	color: #323232;
    width: 160px;
    line-height: 23px;
    text-align: left;
    word-wrap: break-word;
    font-size: 13px;
    margin-top: 15px;
    margin-left: -5px;
}
.detail span{
	color: #7d7d7d;
}
.intro{
	margin:  10px 0;
	height: 300px;
	outline: none;
	/*border: solid 1px red;*/
}
.jspContainer{
	/*overflow: hidden;*/
	position: relative;
}
.jspPane{
	position: absolute;
}
.jspPane span{
	color: #7d7d7d;
	font-size: 13px;
}
.r{
	float: left;
    width: 764px;
    border-left: 1px solid #dcdcdc;
    padding: 10px 0 0 15px;
    min-height: 700px;
  
}
.list1 strong{
	color: #323232;
    font-size: 14px;
}
.dq{
	font-size: 12px;
    color: #878787;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 7px;
    margin-bottom: 5px;
}
.hhh input{
	width: 13px;
	height: 13px;
}
.dq a{
	display: block;
    width: 91px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #169af3;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #169af3;
    float: right;
    margin-top: -10px;
}
.dd{
	padding-top: 15px;
	list-style: none;
}
.ej{
	width: 19px;
    height: 19px;
    margin-top: 2px;
    float: right;
    cursor: pointer;
    line-height: 0;
    font-size: 0;
    margin-left: 10px;
}
.fx{
	width: 19px;
    height: 19px;
    margin-top: 2px;
    
    display: inline;
    float: right;
    cursor: pointer;
    line-height: 0;
    font-size: 0;
}
.dd li{
	font-style: normal;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}
.footerWrapper{
	width: 100%;
	height: 319px;
	background: #2c323b;
	margin: 0 auto;
}
.footer{
	width: 100%;
	height: 319px;
	text-align: center;
}
.links{
	width: 1100px;
	height: 49px;
	position: relative;
    zoom: 1;
    border-bottom: 1px solid #3d424a;
    padding: 15px 0;
    font-size: 12px;
    color: #b1b3b9;
    margin: auto;
}
.links a{
	color: #b1b3b9;
    padding: 10px;
}
.copyright{
	margin-top: 40px;
}
.copyright p{
	line-height: 30px;
	font-size: 14px;
    text-align: center;
    color: #b1b3b9;
}
.popup{
	width: 400px;
    height: 378px;
    margin: 0 auto;
/*    border:  1px solid red;*/
    background: white;
    position: fixed;
    left: 750px;
    top: 200px;
    z-index: 1000;
    display: none;
}
.popup1{
	width: 100%;
    height: 100%;
    position: relative;
}
.ppap{
	position: absolute;
    display: none;
    left: 0px;
    top: 0px;
    width: 100%;
    background: rgb(0, 0, 0);
    opacity: 0.6;
    z-index: 999;
    height: 3094px;
}
.lll{
	position: absolute;
    top: -29px;
    right: -18px;
    width: 37px;
    height: 37px;
    cursor:pointer;
    z-index: 1001;
}
.qrcode{
	font-size: 14px;
    color: #333;
    text-align: center;
    line-height: 1;
    padding-top: 34px;
    padding-bottom: 29px;
    font-weight: normal;
}
.qrcode_img_wrap{
	height: 155px;
    width: 100%;
    position: relative; 
}
.qrcode_img{
	width: 155px;
    height: 155px;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -77.5px;
    transition: all 0.3s linear;
}
.qrcode_description{
	width: 400px;
	height: 21px;
	margin-top: 50px;
    text-align: center;
}
.qrcode_des_txt a{
	color: #169AF3;
}
.kg_popup_thirdpart_new{
	position: absolute;
    bottom: 0;
    left: 0;
    height: 64px;
    width: 100%;
   /* width: 440px;*/
    background-color: #f3f3f3;
    /*left: -20px;*/
}
.clearfixx{
	width: 400px;
	height: 64px;
	font-size: 16px;
    color: #000;
}
.thirdpart_icon{
	margin-top: 15px;
	width:150px;
	height:32px;
	margin-left: 50px;
	list-style: none;
	float: left;
}
.thirdpart_icon img{
	float:left;
}
.thirdpart_icon div{
	padding-left: 20px;
    float: left;
    text-align: center;
    cursor: pointer;
    list-style: none;
    margin-top:10px;
}
.thirdpart_icon em{
	font-style: normal;
}
.thirdpartt_icon{
	margin-top: 15px;
	width:150px;
	height:32px;
	margin-left: 50px;
	list-style: none;
	float: left;
}
.thirdpartt_icon img{
	float:left;
}
.thirdpartt_icon div{
	padding-left: 20px;
    float: left;
    text-align: center;
    cursor: pointer;
    list-style: none;
    margin-top:10px;
}
.thirdpartt_icon em{
	font-style: normal;
}
